services:
  backend:
    build: ./backend
    container_name: my-express-backend
    image: my-express-backend:latest
    ports:
      - "3000:3000"

  frontend:
    build: ./frontend
    container_name: my-quasar-frontend
    image: my-quasar-frontend:latest
    ports:
      - "8080:80"
    depends_on:
      - backend
